body{
	background-color: #800000;
	background-attachment:fixed;
	width:100%;
	height:100%;
	overflow-y: scroll;
    overflow-x: hidden;
}

nav {
	background-color: #FFD700;
	display: flex;
	font-family: '';
	justify-content: space-between;
	align-item: center;
	padding: 10px;
	}






